<!-- <div class="d-flex flex-wrap justify-content-center p-4">
  <div class="card " style="width: 18rem;" *ngFor="let product of product">
    <img class="card-img-top" [src]="product.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="#" class="btn btn-primary" [routerLink]="['/products', product._id]">Đấu giá</a>
    </div>
  </div>
</div> -->
<app-banner></app-banner>
<!-- <div class="p-4 flex flex-wrap justify-center gap-3">
  <a [routerLink]="['/products', product._id]" class="group relative block bg-black overflow-hidden w-[300px] flex-wrap gap-5" *ngFor="let product of product">
    <img
      alt=""
      [src]="product.image"
      class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
    />

    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-medium uppercase tracking-widest text-pink-500">{{product.price}}$</p>

      <p class="text-xl font-bold text-white sm:text-2xl">{{product.title}}</p>

      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
        >
          <p class="text-sm text-white">
            {{product.description}}
          </p>

          <button class=" btn btn-primary mt-4 text-sm font-medium text-white" [routerLink]="['/products', product._id]">Đấu giá</button>
        </div>
      </div>
    </div>
  </a>
</div> -->
<div class="flex flex-wrap justify-center">
<div class="p-4 flex flex-wrap justify-center gap-4" *ngFor="let product of product">
    <a [routerLink]="['/products', product._id]" class="group relative block h-64 sm:h-80 lg:h-96">
      <span class="absolute inset-0 border-2 border-dashed border-black"></span>

      <div
        class="relative flex w-[300px] h-[385px] transform items-end border-2 border-black bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2"
      >
        <div
          class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8"
        >
          <img [src]="product.image" class="h-[350px] w-full object-cover" alt="">
        </div>

        <div
          class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8"
        >
          <img [src]="product.image" class=" h-[130px] w-full object-cover " alt="">
          <h3 class="mt-4 text-xl font-medium sm:text-2xl">{{product.title}}</h3>

          <p class="mt-4 text-sm sm:text-base">
            {{product.description}}
          </p>

          <button class=" btn btn-primary mt-4 text-sm font-bold" [routerLink]="['/products', product._id]">Chi tiet dau gia</button>
        </div>
      </div>
    </a>
  </div>
</div>

